DEBUG=true
DB_DSN="mysql:host=mysql;dbname=kunilo;charset=utf8mb4"
DB_USERNAME=kunilo
DB_PASSWORD=password
JWT_SECRET=secret
EMAIL_SYSTEM_ADDRESS="no-reply@example.com"
EMAIL_CONTACT_ADDRESS="contact@example.com"
SMTP_HOST=mailhog
SMTP_PORT=1025
